<article class="section_beinterested">

                <!-- SCHEDULE -->
                <div class="schedule">
                    <a href=""><h2>SCHEDULE</h2></a>
                    <div class="bd-example">
                        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                          <ol class="carousel-indicators">
                            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                          </ol>
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              <a href=""><img src="./image/Schedule/mc_chel.jpg" class="d-block w-100" alt="MCIvsCHE"></a>
                              <div class="carousel-caption d-none d-md-block">
                                <h6>MANCHESTER CITY - CHELSEA</h6>
                                <p>18:30 September 24 </p>
                                <p> Trận cầu tâm điểm vòng 6 ngoại hạng Anh. Chelsea tiếp tục thăng hoa?</p>
                              </div>
                            </div>
                            <div class="carousel-item">
                              <a href=""><img src="./image/Schedule/mu_atv.jpg" class="d-block w-100" alt="MUvsAVL"></a>
                              <div class="carousel-caption d-none d-md-block">
                                <h6>MANCHESTER UNITED - ASTON VILA</h6>
                                <p>18:30 September 24 </p>
                                <p>"Tài năng trẻ" Ronaldo liệu có tiếp tục tỏa sáng?</p>
                              </div>
                            </div>
                            <div class="carousel-item">
                              <a href=""><img src="./image/Schedule/ars_tot.jpg" class="d-block w-100" alt="ARSvsTOT"></a>
                              <div class="carousel-caption d-none d-md-block">
                                <h6>ARSENAL - TOTENHAM HOSPUR</h6>
                                <p>21:30 September 24 </p>
                                <p> Thử thách dành cho thầy trò Artetar.</p>
                              </div>
                            </div>
                          </div>
                          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>
                      </div>
                </div>

                <!-- RESULT -->
                <div class="result">
                    <a href=""><h2>RESULT</h2></a>
                    <section class="news">
                        <div class="news__container">
                            <a href="">
                                <img src="./image/Result/alt_getafe.jpg" alt="ALTvsGET">
                                <p>Alentico xây chắc ngôi đầu</p>
                            </a>
                        </div>
                    </section>
                    <section class="news">
                        <div class="news__container">
                            <a href="">
                                <img src="./image/Result/barca_gra.jpg" alt="BARvsGRA">
                                <p>Koeman tiếp tục gây thất vọng</p>
                            </a>
                        </div>
                    </section>
                </div>

                <!-- TRANFER -->
                <div class="tranfer">
                    <a href=""><h2>TRANFER</h2></a>
                    <section class="news">
                        <div class="news__container">
                            <a href="">
                                <img src="./image/Tranfer/haaland_chel.jpg" alt="haaland_chel">
                                <p>Chelsea tiếp tục tham vọng tăng cường hàng công.</p>
                            </a>
                        </div>
                    </section>
                    <section class="news">
                        <div class="news__container">
                            <a href="">
                                <img src="./image/Tranfer/kane_mc.jpg" alt="kane_mc">
                                <p>Man City chưa muốn buông tha cho Totenham</p>
                            </a>
                        </div>
                    </section>
                </div>
            </article>
