<div class="breaking__news--secton">
    <h3 class="breaking__news--text">Breaking News <i class="fa fa-coffee" aria-hidden="true"></i></h3>
    <marquee direction="left" onmouseover="this.stop()" onmouseout="this.start()">
        <a href="bn.html" class="breaking__news">
            <p class="breaking__news--time">September 20 </p>
            Bayern hành hạ đối thủ với kết quả hơn một sec tenis
        </a>
        <a href="" class="breaking__news">
            <p class="breaking__news--time">September 21 </p>
            MC hòa thất vọng, Chelsea xây chắc ngôi đầu
        </a>
        <a href="" class="breaking__news">
            <p class="breaking__news--time">September 22 </p>
            Kết quả bốc thăm chia bảng AFF Suzuki Cup 2021
        </a>
    </marquee>
</div>