<ul class="nav">
    <li><a href="">News</a></li>
    <li><a href="">Tranfer</a></li>
    <li>
        <a href="">
            League
        </a>
        <ul class="nav--repeat nav__sub--league">
            <li><a href="">Premer League</a></li>
            <li><a href="">La Liga</a></li>
            <li><a href="">League 1</a></li>
            <li><a href="">Seria A</a></li>
            <li><a href="">Bundesliga</a></li>
            <li><a href="">V-League</a></li>
        </ul>
    </li>
    <li>
        <a href="">
            Cup
        </a>
        <ul class="nav--repeat nav__sub--cup">
            <li><a href="">Champion League</a></li>
            <li><a href="">Europa League</a></li>
            <li><a href="">AFC Champion League</a></li>
            <li><a href="">AFC Cup</a></li>
            <li><a href="">World Cup</a></li>
            <li><a href="">Euro </a></li>
            <li><a href="">ASIAN Cup</a></li>
            <li><a href="">AFF Suzuki cup</a></li>
        </ul>
    </li>
    <li>
        <a href="">
            More<i class="fa fa-caret-down" aria-hidden="true"></i>
        </a>
        <ul class="nav--repeat nav__sub--more">
            <li><a href="">Việt Nam</a></li>
            <li><a href="">Lịch phát sóng</a></li>
            <li><a href="">Đội bóng</a></li>
            <li><a href="">Cầu thủ</a></li>
            <li><a href="">Bảng xếp hạng</a></li>
        </ul>
    </li>
</ul>